@import url('https://i.artfile.ru/2200x1100_1057671_[www.ArtFile.ru].jpg');

* {
  box-sizing: border-box;
}

body {
  background-image: url('paint-bg.jpg');
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  margin-left: 80px;
}

canvas {
  border: 2px solid rgb(68, 121, 153);
  background-color: rgb(209, 198, 198);
}

.toolbox {
  background-color: #444a1f;
  display: flex;
  width: 804px;
  padding: 1rem;
}

.toolbox > * {
  background-color: #fff;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  height: 40px;
  width: 40px;
  margin: 0.25rem;
  padding: 0.25rem;
  cursor: pointer;
}

.toolbox > *:last-child {
  margin-left: auto;
}